@charset "UTF-8";
@font-face {
  font-family: "GilRoy-Bold";
  src: url(../fonts/Gilroy-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "GilRoyMedium";
  src: url(../fonts/Gilroy-Medium.ttf) format("truetype");
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1 {
  margin: 0;
  padding: 0;
}

.linku_social, .section3_icon_full, .info, .section_one, .header .ul_list_items {
  display: flex;
  justify-content: space-between;
}

html,
body {
  height: 100%;
  line-height: 1;
  align-items: center;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-family: "GilRoyMedium";
}

.all_page {
  max-width: 1447px;
  margin: 0 auto;
  padding: 30px 250px 123px 250px;
}
@media screen and (max-width: 1200px) {
  .all_page {
    padding: 39px 80px 120px 80px;
  }
}
@media screen and (max-width: 1024px) {
  .all_page {
    padding: 39px 100px 100px 100px;
  }
}
@media screen and (max-width: 600px) {
  .all_page {
    padding: 15px 30px 50px 30px;
  }
}

.header {
  height: 87px;
}
.header .ul_list_items {
  padding-bottom: 33px;
  border-bottom: 1px solid #828282;
}
.header .ul_list_items .ul_list_li {
  font-weight: 400;
  color: #828282;
}
.header .ul_list_items .ul_list_li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.header .ul_list_items .home {
  color: black;
}
@media screen and (max-width: 600px) {
  .header {
    display: none;
  }
}

.section_one .section1_title {
  width: 123px;
  height: 118px;
  font-size: 47px;
  line-height: 59px;
  font-family: "GilRoy-Bold";
}
.section_one .section1_text {
  align-self: flex-end;
  width: 155px;
  height: 44px;
}
@media screen and (max-width: 600px) {
  .section_one .section1_text {
    padding: 23px 0px 37px 0;
  }
}
.section_one .section1_lang {
  font-size: 16px;
  line-height: 20px;
  font-family: "GilRoy-Bold";
  transform: rotate(-90deg) translateX(-37px);
  display: flex;
  align-items: center;
}
.section_one .section1_lang:hover {
  cursor: pointer;
}
.section_one .section1_lang span {
  color: #828282;
}
@media screen and (max-width: 600px) {
  .section_one .section1_lang {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .section_one {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
  }
}

.burger_section {
  display: flex;
  justify-content: flex-end;
  transform: translateY(40px);
}

@media screen and (min-width: 601px) {
  .burger_menu {
    display: none;
  }
}

.foto_one {
  width: 100%;
  display: flex;
  justify-content: center;
}

.foto {
  margin-top: 50px;
  padding-bottom: 104px;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .foto {
    display: none;
  }
}

.foto_mobile {
  display: none;
}
@media screen and (max-width: 600px) {
  .foto_mobile {
    display: flex;
    padding: 36px 0 80px 0;
  }
}

.section2 {
  background-color: #f6f6f6;
  max-width: 1445px;
  height: 506px;
}
.section2 .title2 {
  padding-top: 120px;
  padding-bottom: 18px;
}
@media screen and (max-width: 600px) {
  .section2 .title2 {
    padding-top: 81px;
    padding-bottom: 30px;
  }
}

.info {
  flex-direction: column;
  max-width: 485px;
  height: 218px;
  margin: 0 auto;
}

.title {
  font-size: 34px;
  line-height: 42px;
  font-family: "GilRoy-Bold";
  text-align: center;
}

.center {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title3 {
  margin-top: 91px;
  margin-bottom: 70px;
}

.section3_icon_full {
  margin-top: 83px;
  margin-bottom: 110px;
}
@media screen and (max-width: 600px) {
  .section3_icon_full {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.section3_p1 {
  font-size: 14px;
  line-height: 17px;
  font-family: "GilRoyMedium";
  width: 70px;
  height: 27px;
  text-align: center;
  color: #828282;
  margin: 24px auto 40px;
}

.section4 {
  background: #f6f6f6;
  margin: 110px auto;
}
.section4 img {
  width: 80%;
}
.section4 .title4 {
  padding: 110px 0 47px;
}
.section4 .title_underline {
  font-size: 18px;
  line-height: 22px;
  font-family: "GilRoyMedium";
  text-decoration-line: underline;
  margin-top: 45px;
  margin-bottom: 100px;
  padding-bottom: 80px;
}

/*------------footer */
.linku_social {
  max-width: 500px;
  margin: 0 auto;
}

.img_link:hover {
  text-decoration: underline;
  cursor: pointer;
  box-shadow: 10px 5px 5px rgb(116, 104, 104);
  transition: all 0.5s ease-out;
}

.footer_text {
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer_button {
  width: 180px;
  height: 42px;
  background-color: black;
  color: white;
  border-radius: 32px;
  margin-bottom: 92px;
}
.footer_button:hover {
  background-color: white;
  color: black;
  border: solid;
}
@media screen and (max-width: 600px) {
  .footer_button {
    width: 100%;
  }
}

.footer_p {
  font-size: 14px;
  line-height: 17px;
  font-family: "GilRoyMedium";
  margin-top: 45px;
  color: #828282;
}

/*# sourceMappingURL=style.css.map */
