@font-face {
   font-family: "GilRoy-Bold";
   src: url(../fonts/Gilroy-Bold.ttf) format('truetype');
 }
 @font-face {
   font-family: "GilRoyMedium";
   src: url(../fonts/Gilroy-Medium.ttf) format('truetype');
 }