@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1 {
  margin: 0;
  padding: 0;
}

.header, .header .ul_list_items, .section_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html, body {
  height: 100%;
  line-height: 1;
  font-size: 18px;
  line-height: 22px;
  font-family: "Mulish, sans-serif";
  font-weight: 700;
}

.wraper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 150px 123px 150px;
}

@media screen and (max-width: 1200px) {
  .wraper {
    padding: 39px 80px 120px 80px;
  }
}

@media screen and (max-width: 1024px) {
  .wraper {
    padding: 39px 50px 70px 50px;
  }
}

@media screen and (max-width: 600px) {
  .wraper {
    padding: 15px 30px 50px 30px;
  }
}

.header {
  height: 90px;
}

.header .logo {
  width: 90px;
  height: 20px;
}

.header .ul_list_items {
  padding-bottom: 33px;
}

.header .ul_list_items .ul_list_li {
  font-weight: 400;
  color: black;
  margin-left: 20px;
}

.header .ul_list_items .ul_list_li:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #828282;
}

@media screen and (max-width: 600px) {
  .header .ul_list_items {
    display: none;
  }
}

.section_one {
  margin-bottom: 140px;
}

.section_one .section1_title {
  font-size: 18px;
  line-height: 22px;
  font-family: "Mulish, sans-serif";
  font-weight: 700;
  color: #4A4FF2;
  padding-bottom: 32px;
}

.section_one .section1_text {
  font-size: 40px;
  line-height: 60px;
  font-family: "Mulish, sans-serif";
  font-weight: 700;
  width: 600px;
}

@media screen and (max-width: 992px) {
  .section_one .section1_text {
    font-size: 32px;
    line-height: 48px;
    font-family: "Mulish, sans-serif";
    font-weight: 700;
    width: 300px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 600px) {
  .section_one .section1_text {
    font-size: 18px;
    line-height: 32px;
    font-family: "Mulish, sans-serif";
    font-weight: 700;
  }
}

.section_one .section1_text2 {
  font-size: 18px;
  line-height: 23px;
  font-family: "Mulish, sans-serif";
  font-weight: 400;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  color: #828282;
}

@media screen and (max-width: 600px) {
  .section_one {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.burger_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  position: absolute;
  top: 0;
  right: 20px;
}

@media screen and (min-width: 601px) {
  .burger_menu {
    display: none;
  }
}

.burger_mobile {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  display: none;
  background-color: white;
  top: 0;
  left: 0;
  padding: 65px 0 0px 26px;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 601px) {
  .burger_mobile {
    display: none;
  }
}

.burger_mobile li {
  font-size: 18px;
  line-height: 22px;
  font-family: "Mulish, sans-serif";
  font-weight: 700;
  height: 50px;
  color: #828282;
  border-bottom: 1px solid #828282;
}

.burger_mobile li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.burger_mobile li span {
  color: black;
  padding-left: 50px;
}

.burger_mobile li:nth-child(4) span {
  padding-left: 10px;
}

.burger_mobile li:nth-child(5) span {
  padding-left: 65px;
}

.burger_mobile li:nth-child(6) span {
  padding-left: 60px;
}

.close_icon {
  position: absolute;
  top: 48px;
  right: 36px;
}

/*grid */
.grid_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 365px 51px 201px 163px 111px 136px 291px 45px 203px 351px;
      grid-template-rows: 365px 51px 201px 163px 111px 136px 291px 45px 203px 351px;
  gap: 10px;
}

.grid_container img {
  width: 100%;
}

.grid_img:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.grid_img:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.grid_img:nth-child(3) {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 12;
  grid-row: 1 / 13;
}

.grid_img:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / 6;
}

.grid_img:nth-child(5) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2 / 5;
}

.grid_img:nth-child(6) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4 / 7;
}

.grid_img:nth-child(7) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6 / 9;
}

.grid_img:nth-child(8) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5 / 8;
}

.grid_img:nth-child(9) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  grid-row: 7 / 10;
}

.grid_img:nth-child(10) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  grid-row: 9 / 11;
}

.grid_img:nth-child(11) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 8;
  -ms-grid-row-span: 3;
  grid-row: 8 / 11;
}

.grid_img:nth-child(12) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 10;
  -ms-grid-row-span: 1;
  grid-row: 10 / 11;
}
/*# sourceMappingURL=style.css.map */