@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Roboto&display=swap");
*,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  height: 4329px;
  font-family: "Roboto", sans-serif;
}

.all_page {
  max-width: 1445px;
  margin: 0 auto;
  color: #16133d;
}
.header {
  height: 118px;
  margin: 38px 126px 55px 156px;
  border-bottom: 1px solid #efeef3;
  margin-bottom: 55px;
}
.main_page {
  padding: 38px 127px 0px 146px;
}
.logo_clover {
  fill: none;
}
.logo_text {
  fill: black;
}
.logo_text2 {
  fill: #f2f2f2;
}

.service {
  line-height: 21px;
  color: #7690a8;
}
.svg_icons:hover .icon_test {
  fill: red;
}
.title {
  font-family: "Nunito Sans";
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0.2px;
  margin-top: 17px;
  margin-bottom: 35px;
}
.title_second {
  font-size: 24px;
  line-height: 21px;
  letter-spacing: 0.2px;
}
.text_info {
  line-height: 28px;
}
.conteiner {
  display: flex;
  justify-content: space-between;
}
.block {
  width: 360px;
  height: 347px;
  border: 1px solid #e5eaf4;
  border-radius: 8px;
  padding: 41px 45px 46px 41px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.block:hover {
  border: 1px solid #3db370;
}
.svg_icons {
  border: 1px solid rgba(21, 101, 216, 0.1);
  border-radius: 16px;
  width: 64px;
  height: 64px;
  align-items: center;
  padding: 0 auto;
  display: flex;
  justify-content: center;
}
/*------------footer */
.footer_page {
  width: 1440px;
  height: 194px;
  background: #16133d;
  margin-top: 69px;
}
.logo2 {
  padding: 36px 0 40px 156px;
}
.social {
  display: flex;
  justify-content: space-between;
  width: 225px;
}
.linku_social {
  padding-left: 161px;
}
.block_link {
  width: 38px;
  height: 38px;
  border: 1px solid #e5eaf4;
  border-radius: 6px;
  background: #efeef3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__icon {
  width: 20px;
  height: 20px;
  display: block;
}
.block_link use {
  fill: black;
}

.block_link:hover use {
  fill: #3db370;
}
