@import "_nullstyle";
.wraper{
  display: flex;
  max-width: 1440px;
  font-family: 'Inter', sans-serif;
  padding: 20px;
  margin: 0 auto;
}
.left_content{
  width: 540px;
  height: 590px;
}
.label{
  width: 245px;
  height: 22px;
  display: inline-block;
  margin:20px 10px 7px 0;
}
.email_info{
  margin-top: 7px;
  margin-bottom: 20px;
  color: #969696;
  font-size: 13px;
line-height: 18px;
letter-spacing: -0.1px;

}
.small_input, .big_input{
  width: 245px;
  height: 38px;
  border: 1px solid #E4E4E4;
  border-radius: 6px;
  margin:7px  10px 7px 0;
} 
.big_input{
  width: 500px;
}