@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/Roboto-Bold.ttf) format(‘truetype’);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

html,
body {
  height: 100%;
  line-height: 1;
  color: #544837;
  background-color: #f2f2f2;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.all_page {
  max-width: 1400px;
  min-height: 100%;
  overflow: hidden;
  background-color: #f2f2f2;
  padding: 0 145px 0 145px;
  margin: 0 auto;
}
.header {
  max-width: 1400px;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_right {
  display: flex;
  align-items: center;
}
.ul_list_items {
  display: flex;
  justify-content: flex-end;
}
.ul_list_li {
  margin-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}
.ul_list_li:hover {
  transform: scale(1.2);
  text-decoration: underline;
  cursor: pointer;
}
.header_button {
  display: flex;
  margin-left: 29px;
  justify-content: flex-end;
}
.header_button_one {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173a56;
  margin-right: 14px;
  border: 1px solid #bcd0e5;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 11px 25px;
}
.header_button_one:hover {
  transform: scale(1.2);
  text-decoration: underline;
  cursor: pointer;
}
.header_button_two {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background: #ff9900;
  border-radius: 4px;
  padding: 11px 25px;
}
.header_button_two:hover {
  transform: scale(1.2);
  text-decoration: underline;
  cursor: pointer;
}
main {
  flex: 1 1 auto;
}
.first_section {
  display: flex;
  justify-content: space-between;
  margin-top: 59px;
}
.first_section_right {
  max-width: 520px;
}
.first_section_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
  color: #2f281e;
  margin-top: 113px;
  font-family: 'Roboto-Bold';
}
.first_section_text {
  max-width: 458px;
  max-height: 95px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #544837;
  margin-top: 30px;
}
.first_section_button {
  display: flex;
  justify-content: flex-start;
  margin-top: 45px;
}
.first_section_button_one {
  background: #ff9900;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding: 15px 41px;
  margin-right: 30px;
}
.video-link {
  display: flex;
  align-items: center;
  color: #ff9900;
}
.first_section_button span {
  margin-left: 8px;
}
.first_section_button_one:hover {
  transform: scale(1.2);
  text-decoration: underline;
  cursor: pointer;
}
.video-link:hover {
  transform: scale(1.2);
  cursor: pointer;
  text-decoration: underline;
}
.first_section_img {
  transform: translateX(20px);
}

.second_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons {
  width: 50px;
  height: 50px;
}
.fa-arrow-pointer {
  border-radius: 20px;
  color: white;
  width: 45px;
  height: 46px;
  font-size: 25px;
  background-color: #7752be;
  padding-left: 16px;
  padding-top: 10px;
}
.icons_new:hover {
  background-color: pink;
}
.fa-wave-square {
  border-radius: 20px;
  color: white;
  width: 45px;
  height: 46px;
  font-size: 25px;
  background-color: yellow;
  padding-left: 8px;
  padding-top: 10px;
}
.fa-heart-pulse {
  border-radius: 20px;
  color: white;
  width: 45px;
  height: 46px;
  font-size: 25px;
  background-color: #f03e3d;
  padding-left: 9px;
  padding-top: 10px;
}
.fa-hourglass {
  border-radius: 20px;
  color: white;
  width: 45px;
  height: 46px;
  font-size: 25px;
  background-color: #4dadf7;
  padding-left: 13px;
  padding-top: 10px;
}
.icons:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.title_second_section {
  max-width: 539px;
  max-height: 108px;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #2f281e;
  margin-top: 137px;
  margin-bottom: 71px;
  font-family:'Roboto-Bold';
}

.colons_second_section {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
}
.title_colons {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #2f281e;
  margin-top: 30px;
  margin-bottom: 13px;
}
.text_colons {
  max-width: 240px;
  max-height: 52px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}
.section_second_button {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding: 15px 32px;
  background: #ff9900;
  border-radius: 4px;
  margin-top: 60px;
  margin-bottom: 210px;
}
.section_second_button:hover {
  transform: scale(1.2);
  text-decoration: underline;
  cursor: pointer;
}
.third_section {
  display: flex;
  justify-content: space-between;
}
.third_section_right {
  width: 486px;
  height: 531px;
}
.third_section_title_small {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #544837;
}
.third_section_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #2f281e;
  margin-bottom: 22px;
  font-family: 'Roboto-Bold';
}
.third_section_title_midle {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #2f281e;
  margin-top: 25px;
  margin-bottom: 12px;
  font-family: 'Roboto-Bold';
}
.third_section_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}
.ul_list_section4 {
  margin-top: 30px;
}
.ul_list_li_section4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
  margin-left: 30px;
  width: 385px;
}
.class_p {
  display: flex;
  align-items: center;
}
.fa-check-double {
  border-radius: 20px;
  color: white;
  width: 45px;
  height: 46px;
  font-size: 25px;
  background-color: #ff9900;
  padding-left: 13px;
  padding-top: 12px;
}
.div_center {
  margin-bottom: 30px;
  margin-top: 30px;
}

.section4,
.section5 {
  margin-top: 100px;
}
/*------------footer */
.footer_page {
  max-width: 1114px;
  min-height: 256px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 1px solid #bcd0e5;
  margin-bottom: 83px;
}
.footer_logo {
  margin-bottom: 146px;
  margin-top: 105px;
  display: flex;
}
.footer_ul_list {
  display: flex;
}
.footer_li:hover {
  transform: scale(1.2);
  text-decoration: underline;
  cursor: pointer;
}
.footer_ul_first {
  margin-right: 175px;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #544837;
}
.footer_ul_second {
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #544837;
}
.footer_button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer_button_one {
  width: 325px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #bcd0e5;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 21px;
  padding-left: 15px;
}
.footer_button_two {
  background: #ff9900;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding: 8px 15px;
}
.footer_button_two:hover {
  transform: scale(1.2);
  text-decoration: underline;
  cursor: pointer;
}
