/* TODO чомусь шрифти не підтягнулись, в дизайні інші */
@font-face {
  font-family: "GilRoy-Bold";
  src: url(../fonts/Gilroy-Bold.ttf) format('truetype');
}
@font-face {
  font-family: "GilRoyMedium";
  src: url(../fonts/Gilroy-Medium.ttf) format('truetype');
}
*,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

html,
body {
  height: 100%;
  line-height: 1;
  align-items: center;
  font-family: 'GilRoyMedium';
  font-size: 18px;
  line-height: 22px;
  text-align: center;
 
}


.all_page {
  max-width: 1445px;
  margin: 0 auto;
  padding-bottom: 123px;
}
.header {
  height: 87px;
  padding: 30px 250px 0 250px;
}
.ul_list_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 33px;
  border-bottom: 1px solid #828282;
}

.ul_list_li {
  font-weight: 400;
  color: #828282;
}
.ul_list_li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.home {
  color: black;
}

.section_one {
  display: flex;
  justify-content: space-between;
  padding: 39px 276px 0 240px;
}
.section1_title {
  width: 123px;
  height: 118px;
  font-family: "Gilroy-Bold";
  font-size: 47px;
  line-height: 59px;
}
.section1_text {
  align-self: flex-end;
  width: 155px;
  height: 44px;
}
.section1_lang {
  font-family: 'Gilroy-Bold';
  font-size: 16px;
  line-height: 20px;
  transform: rotate(-90deg) translateX(-37px);
  display: flex;
  align-items: flex-end;
}
.section1_lang span {
  color: #828282;
}
.section1_lang:hover {
  cursor: pointer;
}
.foto {
  padding-top: 50px;
  padding-bottom: 104px;
}
.section2 {
  background-color: #f6f6f6;
  max-width: 1445px;
  height: 506px;
}
.title {
  font-family: 'Gilroy-Bold';
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}
.title2 {
  padding-top: 120px;
  padding-bottom: 18px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 485.34px;
  height: 218px;
  margin: 0 auto;
}
.center {
  margin-top: 20px;
  margin-bottom: 20px;
}
.title3 {
  margin-top: 91px;
  margin-bottom: 70px;
}
.section3_icon_full {
  display: flex;
  justify-content: space-evenly;
  margin-top: 83px;
  margin-bottom: 110px;
}
.section3_p1 {
  font-size: 14px;
  line-height: 17px;
  width: 70px;
  height: 27px;
  text-align: center;
  color: #828282;
  margin: 24px auto 40px;
}
.section4 {
  height: 2253px;
  background: #f6f6f6;
  margin: 110px auto;
}
.title4 {
  padding: 110px 0 47px;
}
.title_underline {
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  margin-top: 45px;
  margin-bottom: 100px;
}
/*------------footer */

.linku_social {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}
.img_link:hover {
  text-decoration: underline;
  cursor: pointer;
  box-shadow: 10px 5px 5px rgb(116, 104, 104);
  transition: all 0.5s ease-out;
}
.footer_text {
  margin-top: 20px;
  margin-bottom: 30px;
}
.footer_button {
  width: 180px;
  height: 42px;
  background-color: black;
  color: white;
  border-radius: 32px;
  margin-bottom: 92px;
}
.footer_button:hover {
  background-color: white;
  color: black;
  border: solid;
}
.footer_p {
  margin-top: 45px;
  margin-bottom: 123px;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
}
